/*limpar sempre formatações padrões*/
* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Sarala', sans-serif;
    background: #e6e6e6;
}

/*Layout, toda parte de cima está em baixo */

#area-cabeçalho{
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu{
    padding: 10px;
}
/*formatação de todo o menu*/
a{
    text-decoration: none;
}

#area-cabeçalho a:link, #area-cabeçalho a:visited{
    color: #fff;
    padding: 8px 12px;
}

#area-cabeçalho a:hover{
    color: #f7b600;
    background-color: #fff;
    text-decoration: none;
}


/* Formatação em geral do site */

h1{
    color:#070000;
    font-size: 2.5em;
}

.branco{
    color: white;
}

/*area principal inicio*/

#area-principal{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens{
    width: 660px;
    float: left;
}

#area-lateral{
    width: 240px;
    float: right;
}


#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
   
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

h2{
    color: #f7b600;
}

.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

a:link, a:visited{
    color: #f7b600;
   
}
a:hover{
    text-decoration: underline;
}

/*conteudo lateral*/

.conteudo-lateral{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}
h3{
    color: #565656;
    background: #ccc;
    padding: 5px;
}

.postagem-lateral{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}